{include file="public:meta"}
<link href="__ROOT__/static/css/main.css" rel="stylesheet" type="text/css">
<link href="__ROOT__/static/css/page.css" rel="stylesheet" type="text/css">
<link href="__ROOT__/static/font/css/font-awesome.min.css" rel="stylesheet" />
<div>
    <div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
    <div id="append_parent"></div>
    <div id="ajaxwaitid"></div>
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
                <div class="subject">
                    <h3>权限资源管理 - 编辑权限</h3>
                    <h5>网站系统权限资源管理</h5>
                </div>
            </div>
        </div>
        <form class="form-horizontal" id="adminHandle" method="post" action="<{:url('admin/prmedit')}>">
            <!--<input type="hidden" name="id" value="{$info.id}">-->
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">
                        <label for="name"><em>*</em>权限资源名称</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" value="" name="name" id="name" class="input-txt">
                        <p class="notic"></p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="group"><em>*</em>所属分组</label>
                    </dt>
                    <dd class="opt">
                        <select class="small form-control" id="group" name="group">
                            <option value="">选择分组</option>
                            {foreach name="group" item="val" key="key"}
                                <option value="<{$key}>"><{$val}></option>
                            {/foreach}
                        </select>
                        <span class="err"></span>
                        <p class="notic">所属分组</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="group"><em>*</em>添加权限码</label>
                    </dt>
                    <dd class="opt">
                        <select class="small form-control" id="controller" onchange="get_act_list(this)">
                            <option value="">选择控制器</option>
                            {foreach name="controllerList" item="va"}
                                <option value="<{$va}>"><{$va}></option>
                            {/foreach}
                        </select>
                        <span class="err">@</span>
                        <select id="act_list">
                            <option value="">选择功能</option>

                                <option value=""></option>

                        </select>
                        <a class="ncap-btn" onclick="add_right()">添加</a>
                        <p class="notic">
                        </p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="name"><em>*</em>权限码</label>
                    </dt>
                    <dd class="opt">
                        <table>
                            <tr><th style="width:30%">权限码</th><th style="width: 50px;padding-left:10px;text-align: left;" >操作</th></tr>
                            <tbody id="rightList">

                                <!--<tr>-->
                                    <!--<td><input name="right[]" type="text" value="" class="form-control" style="width:200px;"></td>-->
                                    <!--<td style="text-align: left;"><a class="ncap-btn" href="javascript:void(0)" onclick="$(this).parent().parent().remove();">删除</a></td>-->
                                <!--</tr>-->

                            </tbody>
                        </table>
                    </dd>
                </dl>

                <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
            </div>
        </form>
    </div>
</div>
{include file="public:footer"}
<script>
    function get_act_list(obj){
        $.ajax({
            url: "<{:url('admin/ajax_get_action')}>",
            type:'get',
            data: {'controller':$(obj).val()},
            dataType:'html',
            success:function(res){
                $('#act_list').empty().append(res);
            }
        });
    }

    function add_right(){
        var a = [];
        $('#rightList .form-control').each(function(i,o){
            if($(o).val() != ''){
                a.push($(o).val());
            }
        })
        var ncode = $('#controller').val();
        if(ncode !== ''){
            var temp = ncode+'@'+ $('#act_list').val();
            if($.inArray(temp,a) != -1){
                layer.msg('此权限码已经添加！', {icon: 2,time: 1000});
                return false;
            }
        }
        var strtr = '<tr>';
        if(ncode!= ''){
            strtr += '<td><input type="text" name="right[]" value="'+ncode+'@'+ $('#act_list').val()+'" class="form-control" style="width:200px;"></td>';
        }else{
            strtr += '<td><input type="text" name="right[]" value="" class="form-control" style="width:200px;"></td>';
        }
        strtr += '<td style="text-align: left;"><a href="javascript:void(0);" class="ncap-btn" onclick="$(this).parent().parent().remove();">删除</a></td>';
        $('#rightList').append(strtr);
    }

    function adsubmit(){
        if($('input[name=name]').val() == ''){
            layer.msg('权限名称不能为空！', {icon: 2,time: 1000});
            return false;
        }

        if($('input[name="right\[\]"]').length == 0){
            layer.msg('权限码不能为空！', {icon: 2,time: 1000});
            return false;
        }

        $('#adminHandle').submit();
    }
</script>